@font-face {
  font-family: "iconfont"; /* Project id 3598392 */
  src: url('iconfont.woff2?t=1660895724258') format('woff2'),
       url('iconfont.woff?t=1660895724258') format('woff'),
       url('iconfont.ttf?t=1660895724258') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-zhengquewancheng-yuankuang:before {
  content: "\e8e4";
}

.icon-fenzu:before {
  content: "\e629";
}

.icon-wo:before {
  content: "\e7ab";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-fangkuai-:before {
  content: "\ec07";
}

.icon-fenzu1:before {
  content: "\e726";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-shangxiazhankai_o:before {
  content: "\eb9a";
}

.icon-star:before {
  content: "\e9a1";
}

.icon-wuxian:before {
  content: "\e73f";
}

.icon-gengduo1:before {
  content: "\e631";
}

